body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}


#knapp {
    background-color: Blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#login {
    outline: 6;
    border-radius: 10px;
    background:#003366;
    width: 100%;
    margin-top: 5px;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}



#h2 {
    color:white;
    background-image: linear-gradient(yellow, green);
}

#signup {
    color:white;
    background-image: linear-gradient(RoyalBlue, White);
    font-size: 23px;
}

#signupbutton {
    color:white;
    background-image: linear-gradient(yellow, green);
}

#home {
    color:white;
    background-color: Black;
    text-align: center;
    display: block;
    position: relative;
    top: 30px;
    left: 0px;
    max-width: 260px;
    margin: 10px 10px 10px 10px;
    padding: 40px 35px 40px 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8), 0 5px 5px 0 rgba(0, 0, 0, 0.6);
    border-radius: 10px;

}

body {
    background:linear-gradient(rgba(96, 96, 96,0.4), rgba(96, 96, 96,0.4)), url("https://w.wallhaven.cc/full/1k/wallhaven-1k8p2v.jpg");
    background-size: 130%;
    font-size: 16px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9), 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    color: black;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.container p {
    font-size: 3.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 0.5rem;
    /*margin-right: 60%;*/

}

.txt-type {
    color: #8B0000;
    font-weight: normal;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color:white;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%  { background-color:white; }
    49% { background-color:white; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color:white; }
}

.container p span.cursor.typing {
    animation: none;


/*NAVIGATION*/
}
#navtitle {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}

#fff {

    font-family: "Roboto", sans-serif;
    color: #8B0000;/*#6699CC;*/
    margin: 0px auto 1px;

}


.navigation a {
    color: white;
    text-decoration: none;
}
.navigation h2 {
    margin: 0;
    padding: 0;

}

#logo {
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.main {
    padding: 20px;
}

/*LOG IN PAGE*/

#login-form label[for = "id_username"] {
    color: #FFFFFF;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#login-form label[for = "id_password"] {
    color: #FFFFFF;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#login-button {
    outline: 5;
    border-radius: 10px;
    background:#003366;
    width: 65%;
    margin-top: 5px;
    border: 0;
    padding: 5px 2px 5px 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.login {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: black;
    opacity: 99%;
    max-width: 260px;
    margin: 10px auto 100px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}


/*SIGN UP PAGE*/
#signup-form label[for = "id_username"] {
    color: #FFFFFF;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#signup-form label[for = "id_password1"] {
    color: #FFFFFF;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#signup-form label[for = "id_email"] {
    color: #FFFFFF;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#signup-form label[for = "id_password2"] {
    color: #FFFFFF;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

#signup {
    outline: 5;
    border-radius: 10px;
    background:#003366;
    width: 65%;
    margin-top: 5px;
    border: 0;
    padding: 5px 2px 5px 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

#signup-form {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: black;
    color: #87CEFA;
    opacity: 99%;
    max-width: 260px;
    margin: 10px auto 100px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}



/*Homepage*/
#welcome {
    font-size: large;
    font-weight: bold;
}


/*Items*/
#house {
    color: white;
    background: #003366;
    padding: 5px;
    font-weight: bold;
}

#text_items{
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: black;
    color: white;
    opacity: 99%;
    max-width: 360px;
    margin: 10px auto 20px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#box_items{
    font-family: "Roboto", sans-serif;
    /*position: relative;*/
    z-index: 1;
    background: black;
    color: #FFFFFF;
    opacity: 99%;
    max-width: 360px;
    margin: 10px auto 10px;
    padding: 10px 30px 20px 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.select select {
  display: none; /*hide original SELECT element: */
}




#home_box {
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: black;
    color: #FFFFFF;
    opacity: 99%;
    max-width: 260px;
    margin: 10px auto 100px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#to_estates {
    outline: 5;
    border-radius: 10px;
    background:#003366;
    width: 65%;
    margin-top: 5px;
    border: 0;
    padding: 5px 2px 5px 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}


#gudrunn {
    outline: 5;
    border-radius: 10px;
    background:#003366;
    width: 65%;
    margin-top: 5px;
    border: 0;
    padding: 5px 2px 5px 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}


/* Status overview for admin*/

#notify {
    outline: 6;
    border-radius: 10px;
    background:#003366;
    width: 100%;
    margin-top: 5px;
    border: 0;
    padding: 3px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

#status_admin, td, th {
  width: 100%;
  border: 1.5px solid white;
  border-collapse: collapse;
  color: white;
  text-align: center;
  padding: 0.3rem;


}

th {
  background: #585858;
  border-color: white;
  color: black;
  font-weight: bold;
}

#admin_item {
    width: 100%;
    color: white;
    background: #003366;
    padding: 5px;
    font-weight: bold;
}

#user {
    font-weight: bold;
    background: #A0A0A0;
    color: black;
}


