<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="home_box" id="box_items">
            {% if not user.is_superuser %}
                {% for notification in notifications %}
                    <div id="notify_message">
                        <p id="message">NEW MESSAGE FROM OWNER: </p>
                        <p>You need to finish {{ notification.estate.title }}'s estate</p>
                    </div>
                {% endfor %}
            {% endif %}

            <h1 id="title_estates">
                Hi {{ user.username }}!
                <br>
                You are a part of these estates:
            </h1>

            This is your homepage. Estates you are a part of will show up here.<br><br>

            {% if user.is_staff %}
                Active estates:
                <br>
                {% for estate in estates %}
                    {% if not estate.is_finished %}
                        <a href="{% url 'estate.adminoverview' estate.id %}">
                            <button id="login-button">{{ estate.title }}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <br>
                <br>

                Finished estates:
                <br>
                {% for estate in estates %}
                    {% if estate.is_finished %}
                        <a href="{% url 'estate' estate.id %}">
                            <button id="login-button">{{ estate.title }}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <br>
                <br>

                Access admin page:
                <a href="{% url 'admin:index' %}">
                    <button id="login-button">Admin page</button>
                </a>

            {% else %}
                Active estates:
                <br>
                {% for estate in estates %}
                    {% if not estate.is_finished %}
                        <a href="{% url 'estate' estate.id %}">
                            <button id="login-button">{{ estate.title }}</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <br>
                <br>

                Finished estates:
                <br>
                {% for estate in estates %}
                    {% if estate.is_finished %}
                        <a href="{% url 'estate' estate.id %}">
                            <button id="login-button">{{ estate.title }}</button>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

    {% else %}
        <div class="container">
            <p>Welcome to <span class="txt-type" data-wait="800"
                                data-words='["efficiency", "safety", "Røddi"]'></span><span class="cursor">&nbsp;</span>
        </div>
        <br>
        <br>
    {% endif %}

{% endblock %}
