<!-- templates/estate/items.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Items in estate{% endblock %}

{% block content %}
<body class="centrify">
<div id="text_items">
        <h1 id="title_items">{{estate.title}}</h1>
        <p id="items_t">Here is an overview of current progress of each item (votes)</p>
</div>
<div id="box_items" method="POST">

        {% for item in items %}

            <div>
                <h1 id="title_items">{{ item.description}}</h1>
                <a href="{% url 'estate_item_finished' estate.id item.id %}">
                    <button>
                        <img width=100 src="{% static item.picture %}">
                    </button>
                </a>
                <h4> Chosen owner: {{item.owner}} </h4>
                <br>
                {{ item.as_p }}
                <!--<br>
                <label for="comment">Comment:</label>
                <input style="width: 323px;" type="text" id="comment"><br>-->
            </div>
        {% endfor %}

        <br>
        <a href="{% url 'estate_finished' estate.id %}">
        <button id="login-button">Finish estate</button>
    </a>
    </div>




</body>
{% endblock %}
