<!-- templates/estate/items.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Items in estate{% endblock %}

{% block content %}

    <div class="text_items">
        <h1 id="title_items">{{ estate.title }}: Distribute assets</h1>
        <p id="items_t">For every item below you have to decide if you want to keep it, donate it or throw it away.<br>
            If you want to keep it you have to choose how important the item is to you.</p>
    </div>
    <form class="box_items" method="post">
        {{ formset.management_form }}

        {% for form in formset %}
            {% csrf_token %}
            <div>
                <a href="{% url 'show_item' estate.id form.instance.item.id %}">
                    <h3 id="house"> {{ form.instance.item.description }}</h3>
                    <img width=120 src="{% static  form.instance.item.picture.url %}">
                </a>
                <br>
                {{ form.as_p }}
            </div>
        {% endfor %}
        <br>
        <button id="login-button">Save votes</button>
    </form>
{% endblock %}
