<!-- templates/estate/items.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Items in estate{% endblock %}

{% block content %}
<body>
    <div class="split left">
        <div class="centered">
            <h1>Christina</h1>
            <img src="https://c.files.bbci.co.uk/12A9B/production/_111434467_gettyimages-1143489763.jpg" alt="">
            <table style="width:100%">
              <tr>
                <th>User</th>
                <th>Action</th>
                <th>Importance</th>
                <th>Notify</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Null</td>
                <td>Null</td>
                <td><button type="button"> Notify</button></td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
            </table>
        </div>
      </div>

      <div class="split right">
        <div class="centered">
          <p class="names_admin">Roger - 29.03.18</p>
          <button id="editbutton" type="button">Edit</button>
          <button id="removebutton" type="button">Remove</button>
          <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">Denne katten er min!!!
          <br>
          <p class="names_admin">Arnold - 03.03.19</p>
          <button id="editbutton" type="button">Edit</button>
          <button id="removebutton" type="button">Remove</button>
          <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">Sloss bak Trondheim Torg kl. 16?
          <br>
          <p class="names_admin">Johnny Bravo - 12.01.20</p>
          <button id="editbutton" type="button">Edit</button>
          <button id="removebutton" type="button">Remove</button>
          <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">Hei! Lever katten fortsatt? Er interessert!

        </div>
      </div>
</body>
{% endblock %}
