<!-- templates/estate/items.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Items in estate{% endblock %}

{% block content %}

<body>
  <div class="split left">
    <div class="centered">
      <form id="box_items" method="post">
        <h1>Christina</h1>
        <img src="https://c.files.bbci.co.uk/12A9B/production/_111434467_gettyimages-1143489763.jpg" alt="">
        <table style="width:100%">
          <tr>
            <th>User</th>
            <th>Action</th>
            <th>Importance</th>
            <th>Notify</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Null</td>
            <td>Null</td>
            <td>
              <button type="button"> Notify</button>
            </td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <form id="box_items" method="post">
        <p class="names_admin">Roger - 29.03.18</p>
        <button id="editbutton" type="button">Edit</button>
        <button id="removebutton" type="button">Remove</button>
        <p class="comment">Denne katten er min!!!</p>
      </form>
    </div>
  </div>

</body>
{% endblock %}
