<!-- templates/estate/items.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Items in estate{% endblock %}

{% block content %}
<body class="centrify">
<div id="text_items">
        <h1 id="title_items">{{estate.title}}ESTATE NAME</h1>
        <p id="items_t">Here is an overview of current progress of each item (votes)</p>


    </div >
        <form id="box_items" method="post">
            <div>
                <h2>Item</h2>
                <img src="https://timesofindia.indiatimes.com/photo/67586673.cms" width="50%" alt="">
                <br>
                <label for="file">Progress:</label>
                <progress id="file" value="32" max="100"> 32% </progress>
                <br>
            </div>
        </form>
</body>

{% endblock %}
