<!-- templates/estate/estate_finished.html -->
{% extends 'base.html' %}
{% load static %}
{% load vote_tags %}

{% block title %}Items in estate{% endblock %}

{% block content %}

    <div class="split left">
        <div class="centered">
            <form class="box_items" method="POST">
                {{ form.management_form }}

                {% csrf_token %}
                <div>
                    <h1 id="title_items">{{ item.description}}</h1>
                    <img width=100 src="{% static item.picture %}">

                    <br>
                    {{ form.as_p }}
                    <!--<br>
                    <label for="comment">Comment:</label>
                    <input style="width: 323px;" type="text" id="comment"><br>-->

                </div>

                <br>
                <br>
                <table style="width:100%">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Choice</th>
                        <th>Importance</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user in users %}
                        {% with votes|by_user:user as votes_by_user %}
                            {% for vote in votes_by_user|on_item:item %}
                                <tr>
                                    <td id="user">{{ vote.user }}</td>
                                    <td>{{ vote.choice }}</td>
                                    <td>{{ vote.importance }}</td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>

                <br>
                <button id="login-button">Save</button>
                <br>

            </form>
        </div>
    </div>

    <div id="split right">
        <div class="centered">
            <form class="box_items" method="post">
                <p class="names_admin">Roger - 29.03.18</p>
                <p class="comment">Denne katten er min!!!</p>
            </form>
        </div>
    </div>

{% endblock %}