<!-- templates/estate/estate_finished.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Items in estate{% endblock %}

{% block content %}
<body>
  <div class="split left">
    <div class="centered">
      <form id="box_items" method="post">
      <h1>Christina</h1>
      <img src="https://c.files.bbci.co.uk/12A9B/production/_111434467_gettyimages-1143489763.jpg" alt="">
      <textarea id="commentarea" placeholder="Write a comment.." name="story" rows="5" cols="33"></textarea>
      <br>
      <button onclick="addComment()" type="button">Submit comment</button>
      <br>
      <br>
      <table style="width:100%">
        <tr>
          <th>User</th>
          <th>Action</th>
          <th>Importance</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Null</td>
          <td>Null</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
      </table>
      </form>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
        <div id="commentsection" class="centered">
          <form id="box_items1" method="post">
          </form>
        </div>
    </div>
  </div>

</body>
{% endblock %}
