<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

  <p id="welcome">Hi {{ user.username }}!</p>
  Welcome to your homepage.<br><br>
  <a href="estates/"> <button id="to_estates">Your estates</button></a>


  {% if user.is_staff %}
    <a href="{% url 'admin:index' %}">Admin page</a>
  {% endif %}

{% else %}
<div class="container">
  <p>Welcome to <span class="txt-type" data-wait="800" data-words='["efficiency", "safety", "Røddi"]'></span><span class="cursor">&nbsp;</span>
</div>
  <br>
  <br> 
{% endif %}

{% endblock %}
