<!-- templates/estate/estates.html -->
{% extends 'base.html' %}

{% block title %}Your estates{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1 id="title_estates">Hi {{ user.username }}! You are a part of these estates:</h1>

    This is your homepage. Estates you are a part of will show up here.<br><br>

    <a href="items"><button id="to_items">Estate one</button></a>
    <a href="items"><button id="to_items">Estate two</button></a>
<a href="items"><button id="to_items">Estate three</button></a>


    {% else %}
    <p id="not_loggedin" >You are not logged in</p>

    {% endif %}



{% endblock %}
